<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>test Vuejs</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div id="app">
	<h1>Cú pháp template</h1>
	<h3>part 1</h3>
	Văn bản
	<br>
	{{ message }}
	<br>
    {{ msg }}
    <br>
    <h3>part 2</h3>
    HTML thuần túy
    <br>
    <div v-html="htmlRender"></div>
    <br>
    <h3>part 3</h3>
    Các thuộc tính HTML
    <br>
    <!-- <div id="{{ id }}" style="height: 60px; width: 200px; background-color: red;">
    	id = {{id}}
    </div> -->
    <div v-bind:id="id" :class="id" style="height: 60px; width: 200px; background-color: green;">
    	id = {{id}}
    </div>
    <div v-bind:id="id + '_id'" :class="id" style="height: 60px; width: 200px; background-color: blue;">
    	id = {{id}}
    </div>
    <br>
    <h3>part 4</h3>
    Sử dụng các biểu thức JavaScript
    <br>
    {{ number + 1 }}
    <br>
    {{ number ? 'yes' : 'no' }}
    <br>
    {{ nonumber ? 'yes' : 'no' }}
</div>
</body>
<script src="vue.js"></script>
<script src="app.js"></script>
</html>