<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>test Vuejs</title>
    <link rel="stylesheet" href="">
</head>
<body>
<div id="app">
    {{ message }}
</div>
</body>
<script src="vue.js"></script>
<script src="app.js"></script>
</html>